In [2]:
lst1=['siri','sravan',[1,2,3]]
lst1.append("lucky")
print(lst1)

['siri', 'sravan', [1, 2, 3], 'lucky']

In [4]:
lst1.index("siri")

0

In [15]:
lst1.count("siri")

1

In [11]:
lst1.count(0)
print('lst1')

lst1

In [3]:
lst1=[36,323,2233,11,123,23]
lst1.reverse()
print(lst1)

[23, 123, 11, 2233, 323, 36]

In [4]:
lst1.copy()

[23, 123, 11, 2233, 323, 36]

In [12]:
lst1=[1,2,3,4]
lst1.extend([1,2])
print(lst1)

[1, 2, 3, 4, 1, 2]

In [15]:
lst1.insert(3,4)
print(lst1)

[1, 2, 3, 4, 4, 1, 2]

In [16]:
lst1.pop(1)
print(lst1)

[1, 3, 4, 4, 1, 2]

In [17]:
lst1.sort()
print(lst1)

[1, 1, 2, 3, 4, 4]

In [22]:
lst1.count(1)

2

In [20]:
lst1.count(2)

1

In [25]:
lst1.clear()
print(lst1)

[]

# Dictionaries

In [30]:
dit={"name":"siri", "num":123}

In [31]:
dit

{'name': 'siri', 'num': 123}

In [32]:
dit={"name":"siri", "street":"vs colony", "phone num":123456789}
print(dit)

{'name': 'siri', 'street': 'vs colony', 'phone num': 123456789}

In [33]:
dit.get("name")

'siri'

In [35]:
dit.copy()

{'name': 'siri', 'street': 'vs colony', 'phone num': 123456789}

In [38]:
dit.items()

dict_items([('name', 'siri'), ('street', 'vs colony'), ('phone num', 123456789)])

In [39]:
dit.keys()

dict_keys(['name', 'street', 'phone num'])

In [40]:
dit.pop("street")

'vs colony'

In [41]:
dit

{'name': 'siri', 'phone num': 123456789}

In [42]:
dit["street"]="vs colony"

In [43]:
dit

{'name': 'siri', 'phone num': 123456789, 'street': 'vs colony'}

In [60]:
dit.fromkeys("name","phone num")

{'n': 'phone num', 'a': 'phone num', 'm': 'phone num', 'e': 'phone num'}

In [56]:
dit.setdefault("age")

In [54]:
dit

{'name': 'siri', 'phone num': 123456789, 'street': 'vs colony', 'age': None}

In [58]:
dit["age"]=22
dit

{'name': 'siri', 'phone num': 123456789, 'street': 'vs colony', 'age': 22}

In [64]:
dit.popitem()
dit

{'name': 'siri', 'phone num': 123456789, 'street': 'vs colony'}

In [66]:
dit.values()

dict_values(['siri', 123456789, 'vs colony'])

In [68]:
dit1={"age":"22"}
dit1

{'age': '22'}

In [69]:
dit.update(dit1)

In [70]:
dit

{'name': 'siri', 'phone num': 123456789, 'street': 'vs colony', 'age': '22'}

In [71]:
dit1

{'age': '22'}

In [84]:
dit.update(address=165)
dit

{'name': 'siri',
 'phone num': 123456789,
 'street': 'vs colony',
 'age': '22',
 'a': 1,
 'add': 0.056,
 'address': 165}

# sets

In [85]:
st={1,2,2,3,8,8.9,6}
st

{1, 2, 3, 6, 8, 8.9}

In [87]:
st1={1,2,3,4,5,6,6}
st1

{1, 2, 3, 4, 5, 6}

In [88]:
st.add(7)

In [89]:
st

{1, 2, 3, 6, 7, 8, 8.9}

In [90]:
st.copy()

{1, 2, 3, 6, 7, 8, 8.9}

In [91]:
st.difference(st1)

{7, 8, 8.9}

In [92]:
st1.difference(st)

{4, 5}

In [93]:
st.difference_update(st1)

In [94]:
st

{7, 8, 8.9}

In [96]:
st1.difference_update(st)

In [97]:
st1

{1, 2, 3, 4, 5, 6}

In [98]:
st.discard(8)

In [99]:
st

{7, 8.9}

In [100]:
st.intersection(st1)

set()

In [101]:
st1={1,2,3,4,5,6,6}

In [102]:
st2={1,3,4,5}

In [103]:
st1.intersection(st2)

{1, 3, 4, 5}

In [104]:
st1.intersection_update(st2)

In [105]:
st2

{1, 3, 4, 5}

In [110]:
st2.intersection_update(st1)

In [111]:
st1

{1, 3, 4, 5}

In [112]:
st1.isdisjoint(st2)

False

In [114]:
st1={1,2,4,5}
st2={3,4,5}
st1.intersection(st2)

{4, 5}

In [118]:
st1.isdisjoint(st2)
st2

{3, 4, 5}

In [ ]:
st1.issubset(st2)

In [119]:
st1

{1, 2, 4, 5}

In [122]:
st2.issubset(st1)

False

In [121]:
st2

{3, 4, 5}

In [123]:
st1.issuperset(st)

False

In [125]:
st={1,2,3,4,5}
st1.issuperset(st)

False

In [127]:
st.pop()
st

{2, 3, 4, 5}

In [128]:
st.pop()

2

In [129]:
st.remove(4)

In [130]:
st

{3, 5}

In [131]:
st1.symmetric_difference(st2)

{1, 2, 3}

In [132]:
st3={1,2,3,4,5}
st4={5,6,2,4}
st3.symmetric_difference(st4)

{1, 3, 6}

In [133]:
st3.intersection_update(st4)

In [135]:
st3

{2, 4, 5}

In [136]:
st3.union(st4)
st4

{2, 4, 5, 6}

In [137]:
st3.update(st)

In [138]:
st3

{2, 3, 4, 5}

# tuples

In [5]:
tup=("siri","pinky","lucky")

In [6]:
tup

('siri', 'pinky', 'lucky')

In [7]:
tup.count("pinky")

1

In [8]:
tup.count("siri")

1

In [9]:
tup.count("pinky")

1

In [11]:
tup=("siri"," bhdb")
tup

('siri', ' bhdb')

In [12]:
tup.count("bhdb")

0

In [14]:
tup.index("siri")

0

In [15]:
tup=("a","b","a")
tup

('a', 'b', 'a')

In [16]:
tup.count("a")

2

In [22]:
tup1=("1","2","3")
tup1

('1', '2', '3')

In [24]:
tup1[0:2]

('1', '2')

In [25]:
tup2=tup+tup1
tup2

('a', 'b', 'a', '1', '2', '3')

# Boolean

In [26]:
a=143
b=143
a==b

True

In [27]:
a=146
b=123
a==b

False

# string

In [28]:
name="siri"
course="python"
batch="b7"

In [29]:
name

'siri'

In [31]:
name[0]

's'

In [33]:
name[0:3]

'sir'

In [35]:
name.capitalize()

'Siri'

In [38]:
course.center(10,"a")

'aapythonaa'

In [40]:
course.find("y",0)

1

In [42]:
name.lower()

'siri'

In [43]:
course.upper()

'PYTHON'

In [44]:
batch.isascii()

True

In [45]:
batch.title()

'B7'

In [46]:
len(name)

4

In [47]:
course.islower()

True

In [48]:
course.isupper()

False

In [49]:
max("name")

'n'

In [ ]:
num = input("enter a number-")

In [ ]:
num= int(input ("enter the landed altitude in ft---"))
if num==1000:
    print('safe to land')
elif num <=5000 and num!=1000:
    print("bring down to 1000")
else:
    print("turn around")